:root {
  --background-body-color: #010409;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-size: 0.44vw;
}

.bayon-regular {
  font-family: "Bayon", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  background-color: var(--background-body-color);
  color: #f0f0f0;
}

.titulo-about-me,
.titulo-projects,
.titulo-contact {
  display: inline-block;
  font-family: Bayon;
  margin: 7rem 0 0 7rem;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/* Home */

.hi {
  display: inline-block;
  margin-top: 3rem;
  margin-left: 3rem;
  font-family: Beiruti;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.titulo-home {
  display: flex;
  margin-top: 4.3rem;
  margin-left: 8.2rem;
  text-align: center;
  font-family: Bayon;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subtitulo-home {
  text-align: center;
  font-family: Baumans;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.descricao-home {
  display: flex;
  margin-top: 2.3rem;
  margin-left: 10.1rem;
  width: 56.3rem;
  height: 22.3rem;
  flex-shrink: 0;
}

.links-home {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  margin-left: 187.3rem;
  margin-top: -7rem;
}

.links-home a {
  text-decoration: none;
  color: #F0F0F0;
  font-family: Bayon;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.img-home {
  height: 5rem;
  margin-left: 178.4rem;
}

/* About Me */

.card-img .img {
  width: 45.1rem;
  height: 54.3rem;
  flex-shrink: 0;
  margin-left: 32.6rem;
  margin-top: 6.5rem;
  background: url(um\ desenvolvedor\ trabalhando.png) lightgray 50% / cover no-repeat;
}

.card-img p {
  font-family: Bayon;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 39.8rem;
  margin-top: 4.8rem;
}

.texto-about-me {
  display: flex;
  margin-left: 24.5rem;
  margin-top: 7rem;
  width: 59.5rem;
  height: 54.3rem;
  flex-shrink: 0;
}

.texto-about-me p {
  font-family: Baumans;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 118.85%;
  /* 3.8032rem */
}

.container-about-me {
  display: flex;
}

/* Projects */

.container-projeto {
  display: flex;
  width: 123.3rem;
  height: 68.3rem;
  flex-shrink: 0;
  border-radius: 2rem;
  background: #303030;
  margin-left: 37.5rem;
  margin-top: 8.4rem;
  padding-top: 3.3rem;
}

.container-projeto h3 {
  font-family: Bayon;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 9.8rem;
}

.paragrafo-projeto {
  display: flex;
  width: 28.5rem;
  height: 52.7rem;
  flex-shrink: 0;
  margin-left: 2.8rem;
}

.paragrafo-projeto p {
  font-family: Baumans;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-projeto img {
  margin-left: 3.6rem;
  width: 81.6rem;
  height: 45.9rem;
  flex-shrink: 0;
}

.rep-github {
  display: flex;
  width: 26.1rem;
  height: 9.8rem;
  flex-shrink: 0;
  border-radius: 2rem;
  background: #D9D9D9;
  margin-top: 3.3rem;
  margin-left: 12.5rem;
}

.link-botao {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.rep-github img {
  margin-left: 2.1rem;
  height: 5rem;
  width: 5rem;
  flex-shrink: 0;
}

.rep-github p {
  color: #000;
  font-family: Baumans;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 1.2rem;
}

.butoes {
  display: flex;
}