:root {
  --background-body-color: #010409;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

.bayon-regular {
  font-family: "Bayon", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  background-color: var(--background-body-color);
  color: #f0f0f0;
}

.hi {
  margin-top: 3.5rem;
  margin-left: 2.7rem;
  font-family: 'Beiruti', sans-serif;
  font-size: 3.4rem;
}

.titulo-home {
  margin-top: 1rem;
  margin-left: 6.4rem;
  font-family: "Bayon", sans-serif;
  font-size: 4.8rem;
}

.subtitulo-home {
  font-family: "Baumans", system-ui;
  font-size: 2.4rem;
}

.descricao-home {
  margin-top: 2rem;
  margin-left: 10rem;
  width: 40.5rem;
  height: 14rem;
}